html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color-body);

    background: linear-gradient(135deg, #e0f7fa, #b3e5fc, #81d4fa);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex; /* organizar elementos en fila (horizontal) */
    align-items: center; /* centrar verticalmente los elementos */
    justify-content: space-between; /* alineacion y espacio horizontalmente los elementos */
    padding: var(--padding-header);
    background-color: var(--bg-color-header);
}

.header h2 {
    margin: 0;
    font-size: var(--font-size-header-title);
    color: var(--color-header-title);
}

.header a {
    color: var(--color-header-button);
    text-decoration: none;
    font-size: var(--font-size-header-button);
    font-weight: bold;
    transition: color 0.2s;
}

.header a:hover {
    color: var(--color-header-button-hover);
}

.back {
  visibility: hidden;
}

.expanded-container {
  flex: 1 0 auto; /* Permite que el contenedor crezca y ocupe el espacio disponible */
}

.links-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--link-width), var(--link-width)));
  gap: var(--link-gap);
  justify-items: center;
  padding: var(--padding-body);
  justify-content: center;
  align-content: start;
}

.link {
  background-color: var(--bg-color-link);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--link-width);
  text-align: center;
  text-decoration: none;
  color: var(--color-link);
  padding-top: var(--padding-link-vertical);
  padding-bottom: var(--padding-link-vertical);
  border-radius: var(--link-border-radius);
}

.link:hover {
  background-color: var(--bg-color-link-hover);
  color: var(--color-link-hover);
  transition: color 0.2s;
}

.link-img {
  width: var(--link-img-width);
  height: var(--link-img-width);
}

.link-text {
  width: 100%; /* ajusta el tamaño para limitar el ancho al ancho del padre */
  overflow: hidden; /* oculta el desbordamiento */
  text-overflow: ellipsis; /* agrega puntos suspensivos al final si el texto es demasiado largo */
  white-space: nowrap; /* evita el salto de línea */
  display: block;
  font-size: var(--font-size-link);
}

.footer {
  flex-shrink: 0;
  text-align: center;
  color: var(--color-footer);
  background-color: var(--bg-color-footer);
  padding: var(--padding-footer);
}

.footer p{
  margin: 0px;
  font-size: var(--font-size-footer);
}