:root {
  --bg-color-body: #ffffff;
  --bg-color-header: #e0e0eb;
  --bg-color-header-hover: #c2c2d6;
  --bg-color-footer: #e0e0eb;
  --bg-color-link: #ffffff;
  --bg-color-link-hover: #e0e0eb;

  --color-header-title: #000000;
  --color-header-button: #404040;
  --color-header-button-hover: #000000;
  --color-link: #404040;
  --color-link-hover: #000000;
  --color-footer: #404040;

  --padding-header: 32px;
  --padding-body: 64px;
  --padding-link-vertical: 16px;
  --padding-footer: 16px;

  --font-size-header-title: 24px;
  --font-size-header-button: 16px;
  --font-size-link: 14px;
  --font-size-footer: 12px;
  
  --link-width: 180px;
  --link-border-radius: 8px;
  --link-img-width: 64px;
  --header-img-width: 48px;
  --link-gap: 32px 32px;
}
