:root {
  --bg-color-body: #f1f3f4;
  --bg-color-header: #00000010;
  --bg-color-footer: #00000010;
  --bg-color-link: #ffffff00;
  --bg-color-link-hover: #00000010;

  --color-header-title: #404040;
  --color-header-button: #808080;
  --color-header-button-hover: #404040;
  --color-link: #808080;
  --color-link-hover: #404040;
  --color-footer: #404040;

  --padding-header: 32px;
  --padding-body: 64px;
  --padding-link-vertical: 16px;
  --padding-footer: 16px;

  --font-size-header-title: 24px;
  --font-size-header-button: 16px;
  --font-size-link: 14px;
  --font-size-footer: 12px;
  
  --link-width: 180px;
  --link-border-radius: 8px;
  --link-img-width: 64px;
  --link-gap: 32px 32px;
}
